/* Universal Styles */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  background-color: #BFBFBF;
  color: #fff;
  font-family: Arial;
  line-height: 1.5;
  /* display: flex; */
  
}

/* Header */

/* All nav bars */
a {
  text-decoration: none
}

nav {
  text-align: center;
  height: 75px;
}

nav li {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica;
  padding: 10px 15px;
  
}

nav li a {
  transition: all 0.5s ease 0s;
  color: #8F8F8F;
}

/* Main nav */

.main_nav {
  background-color: #262626;
  padding-top: 10px;
}

nav a:link {
  color: #8F8F8F;
}

a:visited {
  color: #8F8F8F;
}

a:hover {
  color: #DBDBDB;
}

.active {
  color: #DBDBDB;
}
  /* Media nav bar */

 .media_nav {
  text-align: center;
  margin-top: 10px;
} 

.media_nav li a {
  color: #262626;
}

/* Main */
main {
  color: #000;
}

p {
  margin-left: 10px;
}

h1 {
  color: black;
  font-family: Corinthia;
  text-align: center;
  font-size: 150px;
  padding: 20px;
  font-weight: 900;
  letter-spacing: 2px; 
  position: relative;
  padding-top: 150px;
  letter-spacing: 15px;
}

h2 {
  padding-left: 10px;
}

.banner {
  background-image: url("../../resources/images/soldrums.jpeg");
  height: 1000px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Footer */

footer {
  color: #000
  
}

.email {
  text-align: center;
  font-family: Oswald;
  font-size: 18px;
}

.email-form {
  text-align: center;
}