/* Universal Styles */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
}
body {
  background-color: #BFBFBF;
  color: #fff;
  font-family: Arial;
  line-height: 1.5;
  /* display: flex; */
  
}

/* Header */

header {
  width: 100%;
  display: inline-flex;
  height: 12%;
  background-color: #0c0c0c;
}

/* All nav bars */

a {
  text-decoration: none
}

nav {
  display: inline-flex;
  width: 50%;
  align-items: center;
  
}

nav ul {
  display: flex;
  flex-wrap: wrap;

}

nav li {
  display: inline-block;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica;
  padding: 10px 15px;
  
}

nav li a {
  transition: all 0.5s ease 0s;
  color: #8F8F8F;
}

a:link, a:visited  {
  color: #FF8000;
}

a:hover, .active {
  color: #DBDBDB;
}

  /* Socials */

.socials {
  width: 50%;
  display: inline-flex;
  justify-content: end;
  align-items: center;
}

.socials ul {
  display: inline-flex;
}

.socials ul li {
  list-style: none;
  margin: 0 15px;
}

.socials ul li .fa-brands {
  font-size: 2rem;
  line-height: 4rem;
  transition: .6s;
}


/* Main */
main {
  color: #000;
}

p {
  margin-left: 10px;
}

h1 {
  color: black;
  font-family: Corinthia;
  text-align: center;
  font-size: 150px;
  padding: 20px;
  font-weight: 900;
  letter-spacing: 2px; 
  position: relative;
  padding-top: 150px;
  letter-spacing: 15px;
}

h2 {
  padding-left: 10px;
}

.banner {
  background-image: url("../../resources/images/soldrums.jpeg");
  height: 1000px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-flex;
  justify-content: center;
  /* max-width: 100%; */
}


#logo {
  display: inline-flex;
  justify-content: center;
}

#logo img {
  width: 100%;
  height: 350px;;
  border-radius: 50%;
  margin-top: 30px;
}

/* Footer */

footer {
  color: #000
  
}

.email {
  text-align: center;
  font-family: Oswald;
  font-size: 18px;
}

.email-form {
  text-align: center;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .socials ul li .fa-brands {
    font-size: 1rem;
  }

  .socials ul li {
    margin: 0 2px;
  }

  nav li {
    font-size: 0.75rem;
  }
    
}

@media only screen and (max-width: 700px) {
  nav li {
    padding: 5px 7.5px;
  }
}
